.pagecard-link {
  position: absolute;
  right: 8px;
  bottom: 8px;
  z-index: 2;
  background: rgba(0, 0, 0, 0.45);
  padding: 4px 12px;
  border-radius: 8px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 500;
  transition: color 0.2s;
  text-decoration: none;
}
.pagecard-imgbox:hover .pagecard-link {
  color: #00fff7;
}
